html, body {
    height: 100%;
    background: #000000;
}

body {
    overflow: hidden;
}

.scroll-animations-example {
    > .scrollsection {
        padding: 10vh 10vh 10vh 10vmax;
        min-width: 550vh;
    }

    > .scrollsection > .item {
        display: inline-block;
        position: relative;
        margin: 0 -30vh 0 3vh;
    }

    > .scrollsection > .item::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    > .scrollsection > .item.-big {
        height: 80vh;
        width: 60vh;
    }

    > .scrollsection > .item.-big.-horizontal {
        height: 60vh;
        width: 80vh;
    }

    > .scrollsection > .item.-normal {
        height: 60vh;
        width: 45vh;
        z-index: 1;
    }

    > .scrollsection > .item.-normal.-horizontal {
        height: 45vh;
        width: 60vh;
    }

    > .scrollsection > .item.-small {
        height: 40vh;
        width: 30vh;
    }

    > .scrollsection > .item.-small.-horizontal {
        height: 30vh;
        width: 40vh;
    }

    > .scrollsection > .item > .image {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        pointer-events: none;
        transition: filter .3s ease,
            opacity .3s ease,
            transform .3s ease;
        transform: translateX(100%) translateY(0) scale(.8);
        transition-delay: .15s;
    }

    > .scrollsection > .item > .image.-active {
        transform: translateX(0) translateY(0) scale(1);
        opacity: .8;
        pointer-events: auto;
        transition: filter .3s ease,
            opacity 1s ease,
            transform 1s ease;
    }

    > .scrollsection > .item > .image.-clicked {
        transform: translateX(0) translateY(0) scale(5);
        opacity: 0;
        pointer-events: auto;
        transition: filter .3s ease,
            opacity 1s ease,
            transform 1s ease;
    }

    > .scrollsection > .item > .image.-active:hover {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        filter: grayscale(0);
        opacity: 1;
        cursor: pointer;
    }
}


.fake-ui {
    font-size: 0;
    
    > .logo {
        position: fixed;
        top: 2vh;
        left: 2vh;
        height: 3vh;
        width: 2.5vh;
        border: solid 1vh #999;
    }

    > .hamburger {
        position: fixed;
        top: 3.5vh;
        right: 2vh;
        height: 3vh;
        width: 4vh;
        
        > div {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 1vh;
            background: #999;
            
            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 1vh;
                background: #999;
            }
            
            &:before {
                top: -2vh;
            }
            
            &:after {
                bottom: -2vh;
            }
        }
    }
}