<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday ❤️</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/utils/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/easing/EasePack.min.js"></script>

    <style>
        div#container {
            max-width: 95%;
            margin: 0px auto;
        }
        body { background-color: #222069; }
    </style>
</head>

<body>
    
<div id="container">
            <svg id="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1052.3622 744.09448" id="svg2">
                <defs id="defs4">
                    <clipPath id="clipPath4742"> 
                        <path d="M643.083 374.733h104.753v-154.25H643.083v154.25z" id="path4744"/>
                    </clipPath>
                    <clipPath id="clipPath4746"> 
                        <path d="M643.083 234.335s12.296-13.853 52.376-13.853 52.376 13.853 52.376 13.853l-53.39 140.398-51.363-140.398z" id="path4748"/>
                    </clipPath>
                </defs>
                <g id="shadow">
                    <ellipse id="path9506" cx="369.286" cy="601.952" rx="159.312" ry="17.883" opacity=".733" fill="#222629" fill-opacity=".562" stroke-width=".948" stroke-linecap="round"/>
                </g>
                <g transform="matrix(.56708 -.25875 .25875 .56708 -16.5 370.86)" id="hat-confetti" stroke-width="2" stroke-linecap="round">
                    <circle class="right" r="13.571" cy="89.094" cx="666.143" id="path9542-3" fill="#67abdf"/>
                    <circle class="right" r="10" cy="136.952" cx="644" id="path9544-0" fill="#e4345b"/>
                    <circle class="right" r="7.857" cy="149.094" cx="691.857" id="path9546-8" fill="#edbf07" fill-opacity=".871"/>
                    <circle class="left" r="15" cy="87.666" cx="391.857" id="path9548-4" fill="#67abdf"/>
                    <circle class="left" r="10.714" cy="141.952" cx="426.143" id="path9550-2" fill="#e4345b"/>
                    <circle class="left" r="9.286" cy="71.952" cx="469" id="path9552-4" fill="#e4345b"/>
                    <circle class="left" r="5" cy="110.523" cx="461.857" id="path9554-0" fill="#eebf07" fill-opacity=".871"/>
                    <circle class="right" r="2.857" cy="168.38" cx="476.857" id="path9556-7" fill="#67abdf"/>
                    <circle class="right" r="4.286" cy="176.952" cx="622.571" id="path9558-1" fill="#67abdf"/>
                    <circle class="right" r="3.571" cy="96.237" cx="627.571" id="path9560-2" fill="#e4345b"/>
                    <circle class="right" r="5.714" cy="55.523" cx="632.571" id="path9562-0" fill="#ecbf08" fill-opacity=".87"/>
                    <circle class="left" r="3.571" cy="51.952" cx="426.143" id="path9564-2" fill="#eebf07" fill-opacity=".871"/>
                    <circle class="left" r="9.286" cy="28.952" cx="481.143" id="path9552-8-1" fill="#67abdf"/>
                    <circle  class="right"r="3.571" cy="118.38" cx="728.286" id="path9560-0-8" fill="#67abdf"/>
                </g>
                <g id="layer-gopher">
                    <g id="gopher" transform="matrix(.48065 0 0 .48065 124.115 298.698)">
                        <g id="go-right-ear" fill-rule="evenodd" stroke="#000">
                            <path d="M335 173.952c-46.366-8.982-48.514-35.024-42.143-52.143 11.464-30.803 54.134-33.475 75.714-14.287z" id="path4698" fill="#67abdf" stroke-width="2"/>
                            <path d="M345.714 153.952c-1.98.99-28.803-11.9-22.857-22.858 7.71-14.206 33.13.03 31.43 4.286z" id="path4700"/>
                        </g>
                        <g id="go-left-ear" fill-rule="evenodd" stroke="#000">
                            <path id="path4708" d="M670.046 173.952c46.366-8.982 48.514-35.024 42.143-52.143-11.465-30.803-54.135-33.475-75.716-14.287z" fill="#67abdf" stroke-width="2"/>
                            <path id="path4710" d="M659.33 153.952c1.982.99 28.805-11.9 22.86-22.858-7.71-14.206-33.133.03-31.43 4.286z"/>
                        </g>
                        <g id="go-right-foot" fill="#e2a176" fill-rule="evenodd" stroke="#000" stroke-width="2">
                            <path d="M366.43 634.094c-5.965 6.76-22.528 1.746-22.144-2.857-7.143-2.38-9.524-8.57-7.143-18.57 1.43-7.924 15.02-22.5 39.643-22.5H397.5l13.214 20c-.665-3.328-32.7 10.796-44.285 23.927z" id="path4768"/>
                            <path d="M344.286 631.237c2.898-6.3 2.542-11.764 13.214-18.928" id="path4770" stroke-linecap="round"/>
                        </g>
                        <g id="go-left-foot" fill="#e2a176" fill-rule="evenodd" stroke="#000" stroke-width="2">
                            <path id="path4778" d="M648.513 634.094c5.964 6.76 22.527 1.746 22.143-2.857 7.143-2.38 9.524-8.57 7.143-18.57-1.432-7.924-15.022-22.5-39.644-22.5h-20.714l-13.214 20c.665-3.328 32.7 10.796 44.285 23.927z"/>
                            <path id="path4780" d="M670.656 631.237c-2.898-6.3-2.542-11.764-13.214-18.928" stroke-linecap="round"/>
                        </g>
                        <path id="path4696" d="M323.84 176.44c26.172-73.087 61.83-104.017 177.196-106.117 89.2-3.154 189.506 15.036 183.847 175.766-2.205 62.63-.823 125.258 5.05 187.888 7.543 179.072-96.424 194.255-186.877 194.96-161.97 1.26-177.024-102.152-177.807-114.148-3.862-59.16 5.84-117.347 2.04-174.757-3.366-50.845-16.57-104.5-3.45-163.593z" fill="#67abdf" fill-rule="evenodd" stroke="#000" stroke-width="2"/>

                        <g id="go-muzzle">
                            <g id="go-teeth" fill="#fff" fill-rule="evenodd" stroke="#000" stroke-width="2">
                                <path d="M501.523 248.222l-24.262.39c3.174 15.33-5.738 46.678 12.218 45.08 13.244-1.18 13.4-7.643 12.045-45.47z" id="path4718"/>
                                <path id="path4720" d="M502.556 248.322l24.264.18c-3.04 15.356 6.146 46.625-11.824 45.183-13.254-1.063-13.465-7.526-12.44-45.363z"/>
                            </g>
                            <path id="go-snout" d="M460.418 233.17c-5.997 6.738-5.274 28.325 12.143 25 21.283-4.06 29.842-7.84 51.726-.504 18.53 6.21 27.93-10.027 20.887-22.1-8.963-15.367-72.09-16.62-84.755-2.395z" fill="#e2a176" fill-rule="evenodd" stroke="#000" stroke-width="2"/>
                            <ellipse ry="13.228" rx="23.708" cy="218.779" cx="499.561" id="go-nose" stroke="#000" stroke-width="1.061" stroke-linecap="square"/>
                        </g>

                        <path d="M418.84 79.59c-73.96 27.62-98.917 69.473-98.082 157.524 12.592 117.28 8.308 117.442 1.486 237.775 6.44 179.718 185.266 148.61 249.663 153.067C315.693 547.6 390.365 273.854 418.84 79.59z" id="path9508" fill="#222629" fill-opacity=".083" fill-rule="evenodd" stroke-width="2.081"/>
                        <g transform="translate(0 19)" id="go-right-eye" stroke="#000">
                            <ellipse id="path4728" cx="428.305" cy="153.66" rx="56.527" ry="52.486" fill="#fff" stroke-width="2.084" stroke-linecap="square"/>
                            <g transform="translate(30.305 -3.536)" id="g4734" stroke-linecap="square" class="pupils">
                                <ellipse id="ellipse4730" cx="398" cy="157.196" rx="19.323" ry="18.818" stroke-width=".73"/>
                                <ellipse ry="4.704" rx="4.913" cy="163.624" cx="406.572" id="ellipse4732" fill="#fff" stroke-width=".184"/>
                            </g>
                            <g transform="translate(.028)" id="g4264-0" class="eye-blink">
                                <ellipse ry="52.486" rx="56.527" cy="153.66" cx="428.305" id="ellipse4260-2" fill="#67abdf" stroke-width="2.084" stroke-linecap="square"/>
                                <path id="path4262-1" d="M370.544 157.185h114.302" fill="none" fill-rule="evenodd" stroke-width="2.071"/>
                            </g>
                        </g>
                        <g transform="translate(144 19)" id="go-left-eye" stroke="#000">
                            <ellipse ry="52.486" rx="56.527" cy="153.66" cx="428.305" id="ellipse4746" fill="#fff" stroke-width="2.084" stroke-linecap="square"/>
                            <g transform="translate(30.305 -3.536)" id="g4748" stroke-linecap="square" class="pupils">
                              <ellipse ry="18.818" rx="19.323" cy="157.196" cx="398" id="ellipse4750" stroke-width=".73"/>
                              <ellipse id="ellipse4752" cx="406.572" cy="163.624" rx="4.913" ry="4.704" fill="#fff" stroke-width=".184"/>
                            </g>
                            <g id="g4264" class="eye-blink">
                              <ellipse ry="52.486" rx="56.527" cy="153.66" cx="428.305" id="ellipse4260" fill="#67abdf" stroke-width="2.084" stroke-linecap="square"/>
                              <path id="path4262" d="M370.544 157.185h114.302" fill="none" fill-rule="evenodd" stroke-width="2.071"/>
                            </g>
                        </g>
                        <g id="go-right-hand" fill="#e2a176" fill-rule="evenodd" stroke="#000" stroke-width="2">
                            <path d="M289.286 379.094c-3.61.04-10.12-14.12 3.57-21.428 11.27-6.016 31.983-10.077 38.215-6.43 0 0 5.31 4.71 5 13.573-.14 4.053-17.266 17.848-29.64 22.856-15.475 6.26-17.946-7.91-17.144-8.572z" id="path4754"/>
                            <path d="M290.637 378.22c2.985-4.012 5.976-5.972 10.87-6.823" id="path4756" stroke-linecap="round"/>
                        </g>
                        <g id="go-left-hand" fill="#e2a176" fill-rule="evenodd" stroke="#000" stroke-width="2">
            <path id="path4764" d="M723.338 379.094c3.61.04 10.12-14.12-3.57-21.428-11.27-6.016-31.983-10.077-38.215-6.43 0 0-5.308 4.71-5 13.573.14 4.053 17.267 17.848 29.643 22.856 15.473 6.26 17.944-7.91 17.142-8.572z"/>
            <path id="path4766" d="M721.987 378.22c-2.985-4.012-5.976-5.972-10.87-6.823" stroke-linecap="round"/>
   
</g>
                </g>

              <g id="layer3">
                <g id="balloon-confetti" stroke-width="2" stroke-linecap="round">
                  <circle class="right" r="13.571" cy="89.094" cx="666.143" id="path9542" fill="#67abdf"/>
                  <circle class="right" r="10" cy="136.952" cx="644" id="path9544" fill="#e4345b"/>
                  <circle class="right" r="7.857" cy="149.094" cx="691.857" id="path9546" fill="#edbf07" fill-opacity=".871"/>
                  <circle class="left" r="15" cy="87.666" cx="391.857" id="path9548" fill="#67abdf"/>
                  <circle class="left" r="10.714" cy="141.952" cx="426.143" id="path9550" fill="#e4345b"/>
                  <circle class="left" r="9.286" cy="71.952" cx="469" id="path9552" fill="#e4345b"/>
                  <circle class="left" r="5" cy="110.523" cx="461.857" id="path9554" fill="#eebf07" fill-opacity=".871"/>
                  <circle class="right" r="2.857" cy="168.38" cx="476.857" id="path9556" fill="#67abdf"/>
                  <circle class="right" r="4.286" cy="176.952" cx="622.571" id="path9558" fill="#67abdf"/>
                  <circle class="right" r="3.571" cy="96.237" cx="627.571" id="path9560" fill="#e4345b"/>
                  <circle class="right" r="5.714" cy="55.523" cx="632.571" id="path9562" fill="#ecbf08" fill-opacity=".87"/>
                  <circle class="left" r="3.571" cy="51.952" cx="426.143" id="path9564" fill="#eebf07" fill-opacity=".871"/>
                  <circle class="left" r="9.286" cy="28.952" cx="481.143" id="path9552-8" fill="#67abdf"/>
                  <circle class="right" r="3.571" cy="118.38" cx="728.286" id="path9560-0" fill="#67abdf"/>
                </g>
                
                <g id="party-hat">
                  <g id="g4734-5" stroke="#000">
                    <path id="path4736" d="M293.902 357.3s13.15 7.788 44.637-2.305c31.488-10.093 37.66-24.074 37.66-24.074l-77.3-96.857L293.9 357.3z" fill="#e4345b" stroke-width=".82502"/>
                  </g>
                  <g id="g4814">
                    <path id="path4816" d="M299.492 236.687c-2.774-1.26-11.116-5.516-15.602-4.078-4.485 1.437-2.865 9.01-2.865 9.01s-6.356-2.998-7.757-3.718c4.74-21.118 24.427-7.378 26.224-1.215" fill="#bd274b"/>
                  </g>
                  <g id="g4818">
                    <path id="path4820" d="M299.492 236.687c-1.338-2.734-5.198-12.33-9.573-14.074-4.375-1.742-10.44 2.57-10.44 2.57-1.987-4.216-2.61-5.576-3.62-7.8 17.09-13.282 26.168 13.404 23.632 19.304" fill="#bd274b"/>
                  </g>
                  <g id="g4822">
                    <path id="path4824" d="M299.46 236.58c1.155-2.82 4.368-11.905 2.76-16.333-1.602-4.427-10.33-7.283-10.33-7.283 1.886-4.42 2.314-5.388 3.424-7.888 18.606 3.704 10.24 29.476 4.146 31.504" fill="#bd274b"/>
                  </g>
                </g>

                <path id="balloon-string" d="M461.143 479.81s24.768-15.062 34.286-25.716c23.178-25.944 54.564-46.732 52.856-90-1.56-39.495-46.767-40.716-44.286-110 1.197-33.432 37.143-54.285 37.143-54.285" id="balloon-string" fill="none" fill-rule="evenodd" stroke="#000" stroke-width="2" stroke-linecap="round"/>

                <g id="balloon">
                  <g id="g8406">
                    <path id="path8408" d="M610.398 128.094c0-39.265-26.804-71.092-59.87-71.092-33.062 0-59.867 31.827-59.867 71.092 0 36.003 22.538 65.73 51.767 70.43l-5.103 15.633 13.647-4.843 12.766 4.843-6.897-15.363c30.097-3.744 53.558-33.965 53.558-70.7" fill="#e4345b"/>
                  </g>
                  <path id="path8424" d="M583.968 120.413c-2.63-.372-4.567-2.707-4.406-5.402.987-16.38-13.415-23.287-13.56-23.357-2.576-1.197-3.69-4.258-2.49-6.833 1.2-2.573 4.26-3.688 6.836-2.492.853.403 20.886 10.017 19.483 33.303-.17 2.835-2.607 4.996-5.444 4.825-.14-.006-.282-.022-.418-.042" opacity=".5" fill="#fff"/>
                  
<path id="balloon-knot" 
      fill="#c41e3a" 
      stroke="#000" 
      stroke-width="4"/>
      stroke-linecap="round"/>
                  <text font-size="18" fill="#fff" x="516" y="142" opacity="0.4">Drag Me</text>
                </g>
                
                <text id="greeting" y="521.237" x="608.571" style="line-height:125%;cursor:pointer;" font-size="40" font-family="sans-serif" letter-spacing="0" word-spacing="0" fill="#67abdf">
                  </text>
                
                <text ID="DETACH-MSG" X="526" Y="50" FONT-FAMILY="'QUICKSAND', SANS-SERIF" FONT-WEIGHT="900" FONT-SIZE="28" FILL="#FF477E" TEXT-ANCHOR="MIDDLE" OPACITY="0" STYLE="POINTER-EVENTS:NONE;">
    <tspan x="526" dy="-20">🎉I HOPE YOU LIKED THE COLLAGE MAM!  🎉</tspan>
    <tspan x="526" dy="55">✨I AM YOUR VIRTUAL CUTE FRIEND PONNI SO I CAN'T DO MUCH ✨</tspan>
    
    <tspan x="526" dy="35">💖 BUT HERE'S THE VIRTUAL BIRTHDAY CAKE FROM MY SIDE MAM... 💖</tspan>
    <tspan x="526" dy="45" font-size="22" font-weight="700" fill="#67abdf">STAY BLESSED AND ENJOY YOUR DAY MISS AND</tspan>
    <tspan x="526" dy="45" font-size="22" font-weight="700" fill="#67abdf">IN CASE I DONT SEE YOU... GOOD AFTERNOON GOOD EVENING AND GOOD NIGHT 👋</tspan>
                </text>
              </g>
            </svg>

        </div>

<div id="next-surprise-section" style="text-align:center; padding: 40px 20px; background:#222069;">
        <a href="{% url 'cake' %}"
           style="
                 padding:15px 35px;
                 background:#e4345b;
                 color:black;
                 font-family:'VT323', monospace;
                 font-size:32px;
                 border-radius:10px;
                 text-decoration:none;
                 border:3px solid #285685;
                 display:inline-block;
                 transition:0.3s;
                 position: relative;
                 z-index: 9999;
           "
           onmouseover="this.style.background='#1aff55'"
           onmouseout="this.style.background='#e4345b'">
            Next 🎈 
        </a>
    </div>
</style>
<script>
class Movie {

    constructor() {
        this.actors = {};
        this.tweens = {};
        this.dragState = false;

        this.actors.svg = document.querySelector('#main');
        this.actors.shadow = document.querySelector('#shadow');
        this.actors.greeting = document.querySelector('#greeting');
        this.actors.detachMsg = document.querySelector('#detach-msg'); 
        this.actors.partyHat = document.querySelector('#party-hat');
        this.actors.balloon = document.querySelector('#balloon');
        this.actors.balloonString = document.querySelector('#balloon-string');
        this.actors.balloonKnot = document.querySelector('#balloon-knot'); 
        this.actors.hatConfettiGroup = document.querySelector('#hat-confetti');
        this.actors.hatConfettiLeft = this.actors.hatConfettiGroup.querySelectorAll('#hat-confetti circle.left');
        this.actors.hatConfettiRight = this.actors.hatConfettiGroup.querySelectorAll('#hat-confetti circle.right');
        this.actors.balloonConfetti = document.querySelector('#balloon-confetti');
        this.actors.balloonConfettiLeft = this.actors.balloonConfetti.querySelectorAll('#balloon-confetti circle.left');
        this.actors.balloonConfettiRight = this.actors.balloonConfetti.querySelectorAll('#balloon-confetti circle.right');
        this.actors.gopher = document.querySelector('#gopher');
        this.actors.gopherRightEye = this.actors.gopher.querySelector('#go-right-eye');
        this.actors.gopherLeftEye = this.actors.gopher.querySelector('#go-left-eye');
        this.actors.gopherLeftHand = this.actors.gopher.querySelector('#go-left-hand');
        this.actors.gopherEyeBlinks = this.actors.gopher.querySelectorAll('.eye-blink');
        this.actors.gopherPupils = this.actors.gopher.querySelectorAll('.pupils');

        this._startEyes();
    }

    _startEyes() {
        // start eye blinks...
        this.tweens.gopherEyeBlinks = TweenMax.to(this.actors.gopherEyeBlinks, 0.6, 
                                            {repeat: -1, autoAlpha: 0, repeatDelay: 3, ease: new SteppedEase(1) });

        // ...and also the pupils' mouse follow
        var stage = Snap(this.actors.svg);
        stage.mousemove((e) => {
            var radius = 28,
                xoff = 25,
                mx = e.screenX,
                my = e.screenY,
                gopherX = this.actors.gopher.getBBox().x + this.actors.gopher.getCTM().e,
                gopherY = this.actors.gopher.getBBox().y + this.actors.gopherRightEye.getBBox().height + this.actors.gopher.getCTM().f,
                flip = (mx < gopherX) ? -1 : 1,
                deg = ( Math.atan((my - gopherY) / (mx - gopherX)) ),
                dy = radius * Math.sin(deg) * flip,
                dx = radius * Math.cos(deg) * flip + xoff;

            TweenMax.set(this.actors.gopherPupils, { x: dx, y: dy, transformOrigin: 'center center'});

        });
    }
    
_redrawString() {
    const handKnot = this.actors.gopher.querySelector('#hand-knot'); // the red knot on the hand
    const balloonKnot = this.actors.balloonKnot;

    // NOTE: #hand-knot is missing in the SVG provided, checking failsafe
    if (!handKnot && !this.actors.gopherRightHand) return; // Basic failsafe

    // Assuming hand position if knot missing
    const startX = 320; // approximate hand x
    const startY = 380; // approximate hand y

    // Get balloon knot position (with dragging)
    const balloonX = this.actors.balloon._gsTransform?.x || 0;
    const balloonY = this.actors.balloon._gsTransform?.y || 0;
    const knotBox = balloonKnot.getBBox();
    const endX = knotBox.x + knotBox.width / 2 + balloonX;
    const endY = knotBox.y + balloonY;

    // Beautiful natural curve
    const cpX = startX + (endX - startX) * 0.5;
    const cpY = startY + (endY - startY) * 0.5 - Math.abs(endY - startY) * 0.75;

    // Draw the string
    Snap(this.actors.balloonString).attr({
        d: `M${startX},${startY} Q${cpX},${cpY} ${endX},${endY}`
    });
}
    _balloonDrag(me) {
        TweenMax.ticker.addEventListener("tick", me._redrawString.bind(me));
        
        me._redrawString();
        var slength = Math.ceil(me.actors.balloonString.getTotalLength());
        TweenMax.set(me.actors.balloonString, {strokeDasharray: slength, strokeDashoffset: 0});
        
        Draggable.create(me.actors.balloon, {
            type: 'x,y',
            throwProps: true,
            onClick: (e) => {
                console.log('started dragging...');
            },
            onDragStart: function(e) {
                me.dragState = true;
                // Reveal the new text message
                TweenMax.to(me.actors.detachMsg, 0.5, {autoAlpha: 1});
            },
            onDrag: function(e) {
                var confetti = [...me.actors.balloonConfettiLeft, ...me.actors.balloonConfettiRight];
                var dx = me.actors.balloon.getCTM().e;
                var dy = me.actors.balloon.getCTM().f;

                TweenMax.staggerTo(confetti, 1, {x: dx, y: dy, ease: Power4.easeOut }, 0.01);
            },
            onDragEnd: function(e) {
                me.dragState = false;
            }
        });
    }

    setStage() {
    console.log('clear stage...');
    var actors = this.actors;
    var clearTl = new TimelineMax();

    // --- FIX START ---

    // 1. Get the Gopher's bounding box (dimensions/position) in the SVG's root coordinate system
    const gopherBBox = actors.gopher.getBBox();
    
    // 2. Calculate the center of the Gopher's head (approximately)
    // The head is roughly in the center of the gopher figure horizontally.
    // The top of the head is near the top of the gopher figure.
    const headCenterX = gopherBBox.cx; 
    const headTopY = gopherBBox.y + (gopherBBox.height * 0.05); // Estimate top 5% of gopher body as the head top

    // The party-hat SVG element's origin is around (325, 355) relative to the Gopher's coordinate system
    // We need to shift it so the bottom center of the hat (its transformOrigin) aligns with headCenterX/headTopY.
    const hatOffsetFactorX = 325 * 0.48065; // Convert hat's internal X-offset to canvas coords (0.48065 is the Gopher's scale)
    const hatOffsetFactorY = 355 * 0.48065; // Convert hat's internal Y-offset to canvas coords

    const finalHatX = headCenterX - hatOffsetFactorX;
    const finalHatY = headTopY - hatOffsetFactorY;

    // --- FIX END ---

    clearTl
        .set(actors.greeting, {autoAlpha: 0})
        .set(actors.detachMsg, {autoAlpha: 0})
        .set([actors.hatConfettiLeft, actors.hatConfettiRight], {autoAlpha:0})
        .set([actors.balloonConfettiLeft, actors.balloonConfettiRight], {autoAlpha:0})

        // HAT: Position based on calculated Gopher head center
        .set(actors.partyHat, {
            autoAlpha: 0,
            scale: 0.1,
            x: finalHatX, 
            y: finalHatY + 30, // Added +10 to account for a slight visual offset
            transformOrigin: "50% 100%" // Scale from bottom of hat (tip sits on head)
        })

        // BALLOON: Start from way above
        .set(actors.balloon, {
            autoAlpha: 0,
            scale: 0.1,
            x: 0,
            y: 0, 
            transformOrigin: "bottom center"
        })

        .set(actors.balloonString, {
            autoAlpha: 0.6,
            path: "M0 0 L0 0"
        });

    this._redrawString();
    return clearTl;
}
    enterPartyHat() {
    console.log('enter party hat...');
    var actors = this.actors;
    var hatTl = new TimelineMax();

    hatTl
        .to(actors.partyHat, 0.7, {
            scale: 1,
            autoAlpha: 1,
            y: "+=40",        // Slight drop onto head
            ease: Elastic.easeOut.config(1, 0.4)
        }, "+=0.3")
        .add('hat')
        .staggerFromTo(actors.hatConfettiLeft, 0.8, 
            {x: "+=80", y: "+=800", scale:0}, 
            {x: 0, y: 0, scale: 1, autoAlpha: 1, ease: Back.easeOut.config(1.7)}, 0.02, "hat-=0.3")
        .staggerFromTo(actors.hatConfettiRight, 0.8, 
            {x: "-=80", y: "+=800", scale:0}, 
            {x: 0, y: 0, scale: 1, autoAlpha: 1, ease: Back.easeOut.config(1.7)}, 0.02, "hat-=0.3");

    return hatTl;
}
enterBalloon() {
    console.log('enter balloon ...');
    var actors = this.actors;
    var balloonTl = new TimelineMax();

    this._redrawString();
    var slength = Math.ceil(actors.balloonString.getTotalLength());
    TweenMax.set(actors.balloonString, {strokeDasharray: slength, strokeDashoffset: slength});

    balloonTl
        .to(actors.balloonString, 0.6, {strokeDashoffset: 0, ease: Linear.easeNone})
        
        // THIS IS THE FIX – we no longer force x:0, y:0
        .to(actors.balloon, 1.2, {
            scale: 1,
            autoAlpha: 1,
            ease: Elastic.easeOut.config(1, 0.5)
        }, "-=0.8")   // Now your setStage() x/y values WORK!
        
        .add('balloon')
        .staggerFromTo(actors.balloonConfettiLeft, 0.8, 
            {scale:0, autoAlpha:0, x:"+=100"}, 
            {scale:1, autoAlpha:0.9, x:0, ease: Back.easeOut.config(2)}, 0.03, "balloon-=0.4")
        .staggerFromTo(actors.balloonConfettiRight, 0.8, 
            {scale:0, autoAlpha:0, x:"-=100"}, 
            {scale:1, autoAlpha:0.9, x:0, ease: Back.easeOut.config(2)}, 0.03, "balloon-=0.4");
        
    return balloonTl;
}
    enterGreeting() {
        console.log('enter greeting ...');
        var actors = this.actors;
        var greetTl = new TimelineMax();

        greetTl
            .to(actors.greeting, 0.5, {autoAlpha: 1, onComplete: this._balloonDrag, onCompleteParams: [this]});

        return greetTl;
    }

    go() {
        console.log('go...');

        var masterTl = new TimelineMax();

        masterTl
            .add(this.setStage(), 'scene-clear')
            .add(this.enterPartyHat(), 'scene-start')
            .add(this.enterBalloon(), 'scene-start') 
            .add(this.enterGreeting(), 'scene-start+=0.5')
        ;
    }

}

var movie = new Movie();
movie.go();

movie.actors.greeting.addEventListener('click', function(evt){
    console.log('opening go blog...');
    window.open('https://blog.golang.org/6years');
});
</script>
</body>
</html>
